USE [CarsCompanyDB]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 28/06/47 04:37:27 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Brand] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](30) NOT NULL,
	[Year] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CarName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/06/47 04:37:27 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([CarID], [Model], [Brand], [Color], [Year], [Price], [CarName]) VALUES (1, N'helal', N'dog', N'red', 7, CAST(1000.00 AS Decimal(18, 2)), N'mohanad')
INSERT [dbo].[Cars] ([CarID], [Model], [Brand], [Color], [Year], [Price], [CarName]) VALUES (3, N'jx', N'mercedes', N'pink', 2026, CAST(80000.00 AS Decimal(18, 2)), N'touota')
INSERT [dbo].[Cars] ([CarID], [Model], [Brand], [Color], [Year], [Price], [CarName]) VALUES (4, N'core', N'jx', N'red', 2025, CAST(7000.00 AS Decimal(18, 2)), N'toyota')
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password]) VALUES (2, N'sakr', N'9568')
INSERT [dbo].[Users] ([UserID], [Username], [Password]) VALUES (3, N'ali', N'123')
INSERT [dbo].[Users] ([UserID], [Username], [Password]) VALUES (4, N'aa', N'aa')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
